html {
  background-color: black;
}

.h1 {
  color: red;
  text-align: center;
}

.Spaces {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Space {
  height: 80%;
  text-align: left;
  justify-content: space-evenly;
  color: red;
  border: 1px solid grey;
}
